In [23]:
 # Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import csv

In [24]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [25]:
# locate and confirm current working directory
os.path.abspath('.')
os.chdir("/Users/philipharmon/Desktop/unc-data-homework/matplotlib-challenge")
os.getcwd()
print("The current working directory is", os.getcwd())

The current working directory is /Users/philipharmon/Desktop/unc-data-homework/matplotlib-challenge

In [26]:
# File to Load (Remember to Change These)
mouse_drug_data_to_load = "/Users/philipharmon/Desktop/unc-data-homework/matplotlib-challenge/mouse_drug_data.csv"
clinical_trial_data_to_load = "/Users/philipharmon/Desktop/unc-data-homework/matplotlib-challenge/clinical_trial_data.csv"

In [27]:
# Read the Mouse and Drug Data
# load the csv files into pandas dataframe
filepath = os.path.join("raw_data","/Users/philipharmon/Desktop/unc-data-homework/matplotlib-challenge/mouse_drug_data.csv")
mouse_drug_data = pd.read_csv(filepath)
mouse_drug_data.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [28]:
# Read the Clinical Trial Data
# load the csv files into pandas dataframe
filepath2 = os.path.join("raw_data","/Users/philipharmon/Desktop/unc-data-homework/matplotlib-challenge/clinical_trial_data.csv")
clinical_trial_data = pd.read_csv(filepath2)
clinical_trial_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [29]:
# Display the data table for preview
mouse_drug_data_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [58]:
type_drug_used_df = mouse_drug_data_df["Drug"].nunique
type_drug_used_df

<bound method IndexOpsMixin.nunique of 0      Stelasyn
1      Stelasyn
2      Stelasyn
3      Stelasyn
4      Stelasyn
         ...
245     Placebo
246     Placebo
247     Placebo
248     Placebo
249     Placebo
Name: Drug, Length: 250, dtype: object>

In [30]:
# Display the data table for preview
clinical_trial_data_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [31]:
# Combine the data into a single data
mouse_data_complete_df = pd.merge(mouse_drug_data, clinical_trial_data, how="left", on=["Mouse ID", "Mouse ID"])
mouse_data_complete_df.head(10)

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2
5     f234  Stelasyn         25           52.178602                 2
6     f234  Stelasyn         30           56.873817                 2
7     f234  Stelasyn         35           57.748758                 2
8     x402  Stelasyn          0           45.000000                 0
9     x402  Stelasyn          5           46.327570                 1

In [59]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
mouse_drug_data_df["Drug"].nunique()

10

In [4]:
# Convert to DataFrame

In [5]:
# Preview DataFrame

In [6]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

In [7]:
# Convert to DataFrame

In [8]:
# Preview DataFrame

In [9]:
 # Minor Data Munging to Re-Format the Data Frames

In [10]:
# Preview that Reformatting worked

In [11]:
# Generate the Plot (with Error Bars)

In [12]:
# Save the Figure

In [15]:
# Show the Figure plt.show()

In [16]:
 # Store the Mean Met. Site Data Grouped by Drug and Timepoint

In [17]:
# Convert to DataFrame

In [18]:
# Preview DataFrame

In [19]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint

In [20]:
# Convert to DataFrame

In [21]:
# Preview DataFrame

In [22]:
# Minor Data Munging to Re-Format the Data Frames

In [23]:
# Preview that Reformatting worked

In [24]:
 # Generate the Plot (with Error Bars)

In [25]:
# Save the Figure

In [26]:
# Show the Figure

In [27]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

In [28]:
# Convert to DataFrame

In [29]:
# Preview DataFrame

In [30]:
 # Minor Data Munging to Re-Format the Data Frames

In [31]:
# Preview the Data Frame

In [32]:
# Generate the Plot (Accounting for percentages)

In [33]:
# Save the Figure

In [34]:
# Show the Figure

In [35]:
# Calculate the percent changes for each drug

In [36]:
# Display the data to confirm

In [37]:
# Store all Relevant Percent Changes into a Tuple

In [38]:
# Splice the data between passing and failing drugs